.cardBTN{
    // background-image: linear-gradient(rgb(19, 93, 19),rgb(25, 138, 25),rgb(25, 181, 25),rgb(33, 173, 33),rgb(16, 219, 16));
    height: fit-content;
    padding: 5px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}
.dir{
    direction: rtl;
}

$bfCategories1: blur(10px);
$bfCategories2: url("./../public/footer-bg.svg");
.categories{
    button{
        color: white;
        background: $bfCategories1;
        background: $bfCategories2;
        border: dashed black 1px;
    }
    button:hover{
        border: dashed black 1px !important;
    }
}
// vorder anmation input