@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

.togelStores:hover > ul{
  display: block;
    right: -120px;
}
.anyMated{
  /*animation-name: animateAnyMated ;
  */animation:  Mated infinite  reverse ;
  -webkit-animation:  Mated infinite  reverse ;
  position: relative;
}

@keyframes Mated{
  0%{
    top:100px;
}
  100%{
    background-color: red;
    position: relative;
    top:-100px;
}
}